name: Fisrt Workflow

on:
  push:
    branches:
      - main

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: checkout du code
        uses: actions/checkout@v4
      - name: Afficher un message
        run: echo "Hello, GitHub Actions !"
      - name: Utiliser le secret (masqué dans les logs)
        run: echo "${{ secrets.MY_SECRET }}"

  env-var:
    runs-on: ubuntu-latest
    env:
      MY_VARIABLE: "This is a variable"

  
    steps:
      - name: Afficher la variable
        run: echo "${{ env.MY_VARIABLE }}"

     - name: Créer un fichier hello.txt
        run: echo "Hello world" > hello.txt

      - name: Afficher le contenu de hello.txt
        run: cat hello.txt

